.App {
  display: flex;
  width: 70%;
  margin: 0 auto;
  background-color: var(--color-white);
  font-size: var(--font-size);
  text-align: left;
  border-radius: 30px;

  section {
    padding: 40px;
  }
}

.App .heading-text {
  font-size: 1.25rem;
  margin: 0;
}

.attribution {
  font-size: 0.75rem;
  margin: 10px 0;
  text-align: center;

  a {
    color: var(--color-slate-300);

    &:hover,
    &:visited {
      color: var(--color-lime);
    }
  }
}

@media screen and (max-width: 375px) {
  .App {
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0;
    width: 100%;

    section {
      padding: 30px 20px;

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }
}
